<div class="flex flex-col sm:flex-row gap-4 items-center">
  <div class="relative inline-block text-left">
    <details class="relative">
      <summary class="inline-flex items-center justify-between w-48 rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer list-none">
        <span class="truncate"><%= current_user.name %> (<%= current_user.role.capitalize %>)</span>
        <svg class="h-5 w-5 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </summary>
      
      <div 
        class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none z-10" 
        role="menu" 
        aria-orientation="vertical" 
        tabindex="-1"
      >
      <% coaches = all_users.select { |user| user.role == "coach" } %>
      <% students = all_users.select { |user| user.role == "student" } %>
      
      <% if coaches.any? %>
        <div class="py-1" role="none">
          <div class="px-4 py-1 text-xs font-semibold text-gray-500 uppercase tracking-wider">Coaches</div>
          <% coaches.each do |user| %>
            <%= link_to user.name, root_path(user_id: user.id), 
                class: "block px-4 py-2 text-sm #{user.id == current_user.id ? 'bg-indigo-50 text-indigo-700 font-medium' : 'text-gray-700'} hover:bg-gray-50 transition duration-150 ease-in-out" %>
          <% end %>
        </div>
      <% end %>
      
      <% if students.any? %>
        <div class="py-1" role="none">
          <div class="px-4 py-1 text-xs font-semibold text-gray-500 uppercase tracking-wider">Students</div>
          <% students.each do |user| %>
            <%= link_to user.name, root_path(user_id: user.id), 
                class: "block px-4 py-2 text-sm #{user.id == current_user.id ? 'bg-indigo-50 text-indigo-700 font-medium' : 'text-gray-700'} hover:bg-gray-50 transition duration-150 ease-in-out" %>
          <% end %>
        </div>
      <% end %>
      </div>
    </details>
  </div>
</div>
